body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}

.navbar {
    font-family: 'Cinzel', serif;
    background-color: #000000;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #000000;
}

.navbar-toggler {
    background-color: #ffeae6;
}

header .container .nav .nav-link,
header .navbar-brand {
    color: #fff;
}



.titulo h1 {
    font-family: 'Cinzel', serif;
    font-size: 100px;
}

.titulo p {
    font-family: 'Cinzel', serif;
    font-size: 40px;
}

#fotos_img {
    background-color: #000000;
}
#fotos_img img{
    height: 91vh;
    opacity: 0.4;
}