body {
    overflow-x: hidden;
}

.navbar {
    font-family: 'Cinzel', serif;
    background-color: #000000;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #000000;
}

.navbar-toggler {
    background-color: #ffeae6;
}

header .container .nav .nav-link,
header .navbar-brand {
    color: #fff;
}
#home {
    background-color: #000000;
}

#home .carousel img {
    height: 91vh;
    opacity: 0.4;
}

.carousel h1 {
    font-size: 100px;
    font-family: 'Cinzel', serif;
}

.carousel p {
    font-size: 40px;
    font-family: 'Cinzel', serif;
}

h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    font-family: 'Cinzel', serif;
}

.sobre p {
    font-size: 20px;
    padding: 0 100px;
}

.texto-img {
    font-size: 20px;
}

footer {
    background-color: #000000;

}

footer h1 {
    color: #fff;
    font-family: 'Cinzel', serif;
    text-align: center;
    padding: 20px;
}

.footer-heading a{
color: #fff;
text-decoration: none;
}


.social li {
    display:inline
}

.social a {
    text-decoration: none;
    font-size: 40px;
    color: #fff;
}

.social li {
    list-style: none;
    
}

.copyright {
    color: #fff;
}

.copyright a{
    color: #555252;
    text-decoration: none;
}
 
.social li a img {
   width: 80px;
}
 
@media only screen and (max-width: 600px) {
    .sobre p {
        font-size: 20px;
        padding: 0 ;
        text-align: left;
    }
    #home .carousel h1 {
        font-size: 30px;
    }
    #home .carousel p {
        font-size: 30px;
    }
    #home .carousel img {
        height: 84vh;
        opacity: 0.4;
    }
    .img-sobre {
      padding-bottom: 18px;
    }
    footer {
        padding-top: 24px;
    }
    .whatsapp {
        position: fixed;
        bottom: 200px;
        right: 20px;
        z-index: 999;
        font-size: 50px;
      }
      .social li a img {
        width: 40px;
     }
  }


  .whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    font-size: 50px;
    padding: 8px;
    border-radius: 10px;
  }

  .whatsapp i {
    color: #04f810;
  }


