body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}

.navbar {
    font-family: 'Cinzel', serif;
    background-color: #000000;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #000000;
}

.navbar-toggler {
    background-color: #ffeae6;
}

header .container .nav .nav-link,
header .navbar-brand {
    color: #fff;
}

.titulo h1 {
    font-family: 'Cinzel', serif;
    font-size: 100px;
}

.titulo p {
    font-family: 'Cinzel', serif;
    font-size: 40px;
}

h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    font-family: 'Cinzel', serif;
}

#sessao_img {
    background-color: #000000;
}

#sessao_img img {
    height: 91vh;
    opacity: 0.4;
}

#sessao p {
    font-family: 'Poppins', sans-serif;
}


.text-sessao {
    font-weight: bold;
}

#sessao {
    padding-bottom: 24px;
}

#slider video {
    height: 300px;
    object-fit: cover;
    background-color: red;
}

footer {
    background-color: #000000;

}

footer h1 {
    color: #fff;
    font-family: 'Cinzel', serif;
    text-align: center;
    padding: 20px;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
}

.horizontal-line {
    border-left: 2px solid rgb(255, 255, 255);
    height: 20px;

    color: #fff;
}

.vertical-line {
    transform: rotate(90deg);
    color: #fff;
}

.social li {
    display: inline
}

.social a {
    text-decoration: none;
    font-size: 40px;
    color: #fff;
}

.social li {
    list-style: none;

}

.copyright {
    color: #fff;
}

.copyright a {
    color: #555252;
    text-decoration: none;
}

.slider .row {
    justify-content: center;
    padding: 10px 250px;



}



.video-container {
    position: relative;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

@media only screen and (max-width: 600px) {
    .gallery-video {
        text-align: center;
    }

    .slider .row {
        justify-content: center;
        padding: 0;
    }

    .video-container video {
        width: 100px;
    }
    #sessao_img .titulo h1 {
        font-size: 30px;
    }
    #sessao_img .titulo p {
        font-size: 30px;
    }
    #sessao_img .titulo img {
        height: 84vh;
        opacity: 0.4;
    }
    .img-sobre {
      padding-bottom: 18px;
    }
    footer {
        padding-top: 24px;
    }

}



