body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}

.navbar {
    font-family: 'Cinzel', serif;
    background-color: #000000;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #000000;
}

.navbar-toggler {
    background-color: #ffeae6;
}

header .container .nav .nav-link,
header .navbar-brand {
    color: #fff;
}

h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  font-family: 'Cinzel', serif;
}

.titulo h1 {
    font-family: 'Cinzel', serif;
    font-size: 100px;
}

.titulo p {
    font-family: 'Cinzel', serif;
    font-size: 40px;
}

#videos_img {
    background-color: #000000;
}
#videos_img img{
    height: 91vh;
    opacity: 0.4;
}



.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
  }
  
  .video-container video {
    margin-right: 20px;
  }
  
  .gallery-container {
    flex-basis: 100%;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
  }
  
  .gallery-item {
    margin-right: 10px;
  }
  
  .gallery-video {
    height: 130px;
    width: 180px;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .gallery-video:hover {
    border: 2px solid black;
  }
  
  footer {
    background-color: #000000;
    
}

footer h1 {
    color: #fff;
    font-family: 'Cinzel', serif;
    text-align: center;
    padding: 20px;
}

.footer-heading a{
color: #fff;
text-decoration: none;
}

.horizontal-line {
    border-left: 2px solid rgb(255, 255, 255);
  height: 20px; 
  
  color: #fff;
}

.vertical-line {
  transform: rotate(90deg);
  color: #fff;
}

.social li {
    display:inline
}

.social a {
    text-decoration: none;
    font-size: 40px;
    color: #fff;
}

.social li {
    list-style: none;
    
}

.copyright {
    color: #fff;
}

.copyright a{
    color: #555252;
    text-decoration: none;
}